<% content_for(:head) do %>
<%= javascript_include_tag(Rails.env.production? ? "http://static.opentok.com/v0.91/js/TB.min.js" : "http://staging.tokbox.com/v0.91/js/TB.min.js") %>
<%= javascript_include_tag "propositions/videos" %>
<% end %>

<% content_for(:main_content) do %>

  <div class="centered_container">

    <h1 class="title signature_title">Take a video holding your ID</h1>
    <h2 class="sub_title signature_sub_title">
      Say the words, "My name is <%= @user.name %> and I vote yes to <%= @proposition.title %>"
    </h2>

    <div class="video_wrapper">
      <div id="recorder"></div>
      <div id="player"></div>
    </div>

    <%= form_tag proposition_videos_path(@proposition.slug, :user_id => @user.id, :signature_id => @signature.id), :class => "form" do %>
      <%= hidden_field_tag :proposition_id, :value => @proposition.slug %>
      <%= hidden_field_tag :opentok_archive_id %>
    <% end %>

  </div>

<% end %>

<% content_for :controls do %>
  <div class="left_content">
    <%= link_to "Back", new_proposition_signature_path(:petition_id => @proposition.id, :user_id => @user.id), :class => "gray_button button"%>
  </div>

  <div class="middle_button_container">
    <button class="red_button button">
      Next <%= image_tag "arrow_white.png", :class => "next_image button_image" %>
    </button>
  </div>
<% end %>