<% content_for :head do %>
  
  <%= javascript_include_tag "signature-pad/build/jquery.signaturepad.min.js"%>

  <script>
    $(document).ready(function() {
      var options = {
        drawOnly: true,
        defaultAction: 'drawIt',
        validateFields: false,
        output: '.data'
      };
      $('.sigPad').signaturePad(options);
    });
  </script>

<% end %>

<% content_for :main_content do %>

<div class="progressbar progressbar03-blue">
    <div class="progressbar-inner">
    </div>
</div>
    <%= form_for :signature, :url => proposition_signatures_path(@proposition.slug, :user_id => @user.id), :html => {:class => 'sigPad form'} do |f| %>

      <div class="centered_container">

        <h1 class="title signature_title">Sign Your Name</h1>
        <h2 class="sub_title signature_sub_title">Use a finger or a mouse<br/>inside the box below.</h2>


        <div class="sig sigWrapper">
          <canvas class="pad <%= 'error' if @signature.errors[:data] %>" width="834px" height="250px"></canvas>
          <input type="hidden" name="data" class="data">
        </div>

      </div>

      <div class="clearButton button"><a href="#clear" class="grey">Clear</a></div>

    <% end %>

<% end %>

<% content_for :controls do %>

  <div class="left_content">
    <%= link_to "Back", edit_proposition_user_path(@proposition.slug, @user), :class => "gray_button button"%>
  </div>

  <div class="middle_button_container">
    <button href="#" class="red_button button" onClick="$('.form').submit();">
      Next <%= image_tag "arrow_white.png", :class => "next_image button_image" %>
    </button>
  </div>

  <!-- <div class="right_content">
    <a href="#" class="gray_button button">Cancel</a>
  </div> -->

<% end %>