<% content_for :head do %>
  <%= stylesheet_link_tag "jquery.signaturepad.css" %>
  <%= javascript_include_tag "custom_scroll_bar.js" %>
<% end %>

<% content_for :main_content do %>
<div class="progressbar progressbar01-blue">
    <div class="progressbar-inner">
    </div>
</div>

  <div class="prop_container">

    <div class="custom_scroll_bar wants_content retained">

      <div class="native">

        <div class="content">

          <h1 class="prop_title title">
            <%= @proposition.title %>
          </h1>

          <div class="prop_creator_container">
            <h2 class="sub_title prop_sub_title">Created By</h2>
            <div class="sub_content prop_content"><%= @proposition.user.name %></div>
          </div>

          <div class="prop_overview_container">
            <h2 class="sub_title prop_sub_title">Overview</h2>
            <div class="sub_content prop_content"><%= @proposition.overview %></div>
          </div>

          <div class="prop_full_container">
            <h2 class="sub_title prop_sub_title">Full Proposition</h2>
            <div class="sub_content prop_content"><%= @proposition.full %></div>
          </div>

        </div>

      </div>

    </div>

  </div>

  

<% end %>



<% content_for :controls do %>


  <div class="button_container">
    <div class="signaturebar">
        <div class="signaturebar-inner">
        </div>
    </div>
    <a href="<%= new_proposition_user_path(@proposition.slug) %>" class="red_button button">
      Sign <%= image_tag "arrow_white.png", :class => "next_image button_image" %>
    </a>


<% end %>