<%= form.text_field :name, :placeholder => "Name", :class => "name_field input_text" %>
<%= form.text_field :email_address, :placeholder => "Email", :class => "email_address_field input_text" %>
<%= form.text_field :street_address, :placeholder => "Street Address", :class => "street_address_field input_text" %>
<%= form.text_field :city, :placeholder => "City", :class => "city_field input_text" %>
<%= form.text_field :zip_code, :placeholder => "Zipcode", :class => "zipcode_field input_text" %>
<%= form.text_field :phone, :placeholder => "Phone", :class => "phone_field input_text" %>
<div class="tos_container">
  <%= form.check_box :tos_acceptance, :id => "tos_acceptance" %>
  <span class="input_text checkbox_label" onclick="$('#tos_acceptance').click();$(this).toggleClass('checked');">
    I agree to the LiveView <%= link_to "terms of service", terms_of_service_path %>.
  </span>
</div>