<!DOCTYPE html>
<html>
<head>
  <title>LiveSign</title>

  <%= stylesheet_link_tag "screen", media: "screen, projection" %>
  <%= stylesheet_link_tag "print", media: "print" %>
  <!--[if IE]>
    <%= stylesheet_link_tag "ie", media: "screen, projection" %>
  <![endif]-->

  <%= stylesheet_link_tag    "application", :media => "all" %>

  <% unless @client_config.blank? || @client_config.empty? %>
    <script>window.config = <%= @client_config.to_json.html_safe %></script>
  <% end %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

  <% if flash[:error] %>
    <div class="error">
      <%= flash[:error].html_safe %>
    </div>
  <% end %>

  <div class="main_content">
    <%= yield %>
  </div>

</body>
</html>
