<!DOCTYPE html>
<html>
<head>
  <title>LiveSign</title>

  <%= stylesheet_link_tag "screen", media: "screen, projection" %>
  <%= stylesheet_link_tag "print", media: "print" %>
  <!--[if IE]>
    <%= stylesheet_link_tag "ie", media: "screen, projection" %>
  <![endif]-->

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
