<!DOCTYPE html>
<html>
<head>
  <title>LiveSign</title>

  <%= stylesheet_link_tag "screen", media: "screen, projection" %>
  <!--[if IE]>
    <%= stylesheet_link_tag "ie", media: "screen, projection" %>
  <![endif]-->

  <%= stylesheet_link_tag    "application", :media => "all" %>

  <% unless @client_config.blank? || @client_config.empty? %>
    <script>window.config = <%= @client_config.to_json.html_safe %></script>
  <% end %>

  <%#= javascript_include_tag "application" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script id="jqueryui" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
